<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">

<listeners>
   <listener class-name="com.fedphe.Listeners.Listener"/>
   </listeners>
   
   <test name="Test Listeners">
    <classes>
        <class name="com.fedphe.Listeners.TestListener2" >
           <methods>
        <include name="loginbyemail"/>
        <include name="loginbyfacebook"/>
      </methods> 
      </class>
    </classes>
</test>
</suite>
